@model ZP.Bill.good

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>good</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SellerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsPictureUrls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsPictureUrls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywrod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywrod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
