@model ZP.Bill.seller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmzonShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmzonShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
