
@{
    ViewBag.Title = "Login";
}





@using (Html.BeginForm("LoginForm", "Home", FormMethod.Post))
{
    <h2>登录</h2>
    <div class="form-group has-error bg-danger">
        <span class="help-block">
           @ViewBag.ErrorMessage
        </span>
    </div>
    

    <div class="form-group">
        <label for="exampleInputEmail1">LoginName</label>
        <input type="text" name="UserName" class="form-control" id="exampleInputEmail1" placeholder="Login Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="from-group">
        <div class="row">
            <div class="col-md-2">
                <div class="radio">
                    <label for="idSeller">
                        @Html.RadioButton("UserType", 0, true, new { id = "idSeller" })
                        Seller
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="radio">
                    <label for="idBuyer">
                        @Html.RadioButton("UserType", 1, new { id = "idBuyer" })
                        Buyer
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success btn-block">Login</button>
        </div>
    </div>


}

<br/>

<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-block" onclick="location.href = '@Url.Action("Register")'">Sign Up</button>
    </div>

    <div class="col-md-2">
        <button type="button" class="btn btn-warning btn-block" onclick="location.href = '@Url.Action("ForgetPassword")'">Forgot password?</button>
    </div>




</div>

